//1. Abstracts
@use "abstracts/variables.scss";
@use "abstracts/mixins.scss";
@use "abstracts/functions.scss";

//2. Base
@use "base/base.scss";
@use "base/typography.scss";

//3. Layout
@use "layout/header.scss";
@use "layout/sections.scss";
@use "layout/footer.scss";
@use "layout/loader.scss";

//4. Components
@use "components/buttons.scss";
@use "components/cards.scss";

//5. Pages
@use "pages/home.scss";
@use "pages/restaurants.scss";
