@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.hero{
    @include flex-column-center;
    text-align: center;
    gap: $gap-6xl;
    padding: $padding-hero;

    &__wrapper{
        @include flex-column($gap-md);
    }

    &__title{
        @include title-hero;
    }

    &__text{
        @extend .paragraph;
        @extend .paragraph--xlarge;
        @extend .paragraph--gray;
    }

    &__button{
        width: 100%;
        max-width: 218px;
    }
}

.steps{
    padding: $padding-steps;
    @include flex-column($gap-5xl);
    background-color: $secondary-background;
    align-items: center;

    &__list{
        @include flex-column($gap-5xl);
        width: 100%;
        align-items: center
    }

    &__title{
        @include title-section;
    }

    &__wrapper{
        width: 335px;
    }

    &__icon--purple{
        color: $primary-color;
    }
}

.restaurants{
    padding: $padding-restaurants;
    @include flex-column($gap-3xl);
    align-items: center;

    &__list{
        width: 100%;
        @include flex-column($gap-3xl);
        align-items: center;
    }

    &__title{
        @include title-section;
    }

    &__wrapper{
        width: 340px;
    }
}