@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;
@use "../abstracts/functions" as *;

.hero{
    @include flex-column-center;
    text-align: center;
    gap: $gap-6xl;
    padding: $padding-hero;

    &__wrapper{
        @include flex-column($gap-md);
    }

    &__title{
        @include title-hero;
    }

    &__text{
        @extend .paragraph;
        @extend .paragraph--xlarge;
        @extend .paragraph--gray;
    }

    &__button{
        width: 100%;
        max-width: 218px;
    }

    @include tablet {

        &__title{
            font-size: rem(34);
        }
    }

    @include desktop {
        &__title{
            font-size: rem(40);
        }
    }

}

.steps{
    padding: $padding-steps;
    @include flex-column($gap-5xl);
    background-color: $secondary-background;
    align-items: center;

    &__list{
        @include flex-column($gap-5xl);
        width: 100%;
        align-items: center
    }

    &__title{
        @include title-section;
    }

    &__wrapper{
        width: 335px;
    }

    &__icon--purple{
        color: $primary-color;
    }
}


.restaurants{
    padding: $padding-restaurants;
    @include flex-column($gap-3xl);
    align-items: center;

    &__list{
        width: 100%;
        @include flex-column($gap-3xl);
        align-items: center;
    }

    &__title{
        @include title-section;
    }

    &__wrapper{
        width: 340px;
    }
}

@include tablet {
    .steps{
        gap: rem(25);
        padding: rem(49) rem(35) rem(67) rem(35);

        &__list{
            align-items: flex-start;
            @include flex-row(24px);
            flex-wrap: wrap;
            justify-content: center;
        }

        &__card{
            flex: 1 1 252px;
            max-width: 100%;
        }

        &__wrapper{
            width: 100%;
        }
    }

    .restaurants{
        gap: rem(28);
        padding: rem(54) rem(35) rem(66) rem(35);

        &__list{
            align-items: flex-start;
            @include flex-row(10);
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__wrapper{
            width: 100%;
        }
    }
}