@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/placeholders" as *;

.restaurant-hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__wrapper{
        width: 100%;
        position: relative;
    }

    
    &__image{
        z-index: -1;
        object-fit: cover;
        height: 275px;
        width: 100%;
    }
}

.restaurant-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__wrapper{
        width: 100%;
        max-width: 375px;
        box-sizing: border-box;
        position: relative;
        @include flex-column-center();
        border-top-right-radius: $radius-xxl;
        border-top-left-radius: $radius-xxl;
        background-color: $primary-background;
        @extend %position-absolute-z;
        top: rem(-55);
        margin-bottom: rem(-55);
        padding: $padding-restaurant-menu;
        @include flex-column($gap-l-restaurant);
    }

    &__header{
        width: rem(341);
        padding-right: rem(24);
        @include flex-row;
        gap: $gap-m-restaurant;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box
    }

    &__title{
        @extend .title;
        @extend .title--shrikhand;
        @extend .title--large;
    }

    &__categories{
        width: 100%;
        @include flex-column($gap-s-restaurant);
        align-items: flex-start;
    }

    &__category-title{
        @extend .title;
        @extend .title--roboto;
        @extend .title--extra-small;
        height: rem(27);
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: rem(40);
            height: 3px;
            background-color: $tertiary-color;
        }
    }

    &__button{
        width: 100%;
        max-width: rem(186);
        font-size: rem(16);
        font-weight: 500;
    }
}