body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.maincontainer {
  width: 100%;
  max-width: 375px;
  background-color: rgb(246, 246, 246);
}

.title--roboto {
  font-family: "Roboto", sans-serif;
  text-wrap: pretty;
}
.title--shrikhand {
  font-family: "Shrikhand", sans-serif;
}
.title--18400 {
  font-size: 18px;
  font-weight: 400;
}
.title--24700 {
  font-size: 24px;
  font-weight: 700;
}
.title--wrap-pretty {
  text-wrap: pretty;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.paragraph--16500 {
  font-size: 16px;
  font-weight: 500;
}
.paragraph__17300 {
  font-size: 17px;
  font-weight: 300;
}
.paragraph--18300 {
  font-size: 18px;
  font-weight: 300;
}
.paragraph--18700 {
  font-size: 18px;
  font-weight: 700;
}
.paragraph--14500 {
  font-size: 14px;
  font-weight: 500;
}
.paragraph--white {
  color: #FFFFFF;
}
.paragraph--gray {
  color: rgb(53, 53, 53);
}
.paragraph--lightgray {
  color: rgb(126, 126, 126);
}

.link--black {
  color: #000000;
}
.link--no-decoration {
  text-decoration: none;
}

.steps__number, .site-header__logo-container {
  position: relative;
  z-index: 1;
}

.restaurants__badge, .footer__logo, .steps__title {
  margin: 0;
}

.site-header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.site-header__logo {
  height: 36px;
  padding: 14px 0 13px 0;
}
.site-header__location-container {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 29px;
  padding: 2.4375rem 0 3.5625rem 0;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero__title {
  margin: 0;
}
.hero__text {
  margin: 0;
}
.hero__button {
  width: 100%;
  max-width: 218px;
}

.steps {
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: rgb(255, 255, 255);
}
.steps__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.restaurants {
  padding: 3.375rem 1.125rem 4.125rem 1.0625rem;
}
.restaurants__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer {
  background-color: rgb(53, 53, 53);
  list-style: none;
  padding: 1.375rem 0 1.375rem 1.5625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__link {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.btn {
  min-height: 3.125rem;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
  border: none;
  outline: none;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn--primary {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
}

.steps__card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 4.5625rem;
}
.steps__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 1.5rem;
  border-radius: 12px;
  background-color: #9356DC;
}
.steps__card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 12px;
  right: 0;
  height: 100%;
  padding-left: 2.1875rem;
}

.restaurants__card {
  min-height: 15.6875rem;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.restaurants__image-container {
  overflow: hidden;
  position: relative;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__image {
  position: absolute;
  top: -57px;
  left: -3px;
  width: 100%;
  object-fit: cover;
  height: 231px;
}
.restaurants__badge {
  position: absolute;
  z-index: 1;
  top: 13px;
  right: 12px;
  width: auto;
  min-width: 80px;
  min-height: 1.8125rem;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #99E2D0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants__card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5625rem 0.75rem 0.8125rem;
}
.restaurants__card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants__like-icon {
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */
