@use "../abstracts/variables" as *;

.footer{
    background-color: $color-dark-gray;
    list-style: none;
    padding: 1.375rem 0 1.375rem 1.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;

    &__logo{
        margin: 0;
    }

    &__menu{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__link{
        display: flex;
        flex-direction: row;
        gap: 11px;
    }
}