@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;

.footer{
    background-color: $color-dark-gray;
    list-style: none;
    padding: 1.375rem 0 1.375rem 1.5625rem;
    @include flex-column-start;
    justify-content: space-between;
    gap: 16px;

    &__logo{
        @extend %reset-margin
    }

    &__menu{
        @include flex-column(7px)
    }

    &__link{
        @include flex-row(11px)
    }
}