@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
@use "../base/typography" as *;

.footer{
    background-color: $color-dark-gray;
    padding: 1.375rem 0 1.375rem 1.5625rem;
    @include flex-column-start;
    justify-content: space-between;
    gap: 16px;

    &__logo{
        @extend .title;
        @extend .title--shrikhand;
        @extend .title--small;
        @extend .title--white;
    }

    &__list{
        @include flex-column(7px);
        list-style: none;
        @extend %reset-margin;
        padding: 0;
    }

    &__link{
        @include flex-row(11px);
        @extend .link;
        @extend .link--medium;
        @extend .link--white;
        @extend .link--no-decoration;
    }
}