@use "../base/typography";
@use "../components/buttons";

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 39px;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title{
        @extend .section-title;
        text-align: center;
        text-wrap: pretty;
        margin-top: 0
    }

    &__text{
        @extend .text18300;
        text-align: center;
        margin-bottom: 27px;
    }

    &__button{
        @extend .btn;
        margin-bottom: 57px;
    }
}