@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as *;

.site-header{

    &__logo-container{
        @extend %position-relative-z;
        @include flex-center;
        box-shadow: $shadow-light;
    }
    
    &__logo{
        height: 36px;
        padding: 14px 0 13px 0;
    }

    &__location-container{
        height: 50px;
        @include flex-row(17px);
        align-items: center;
        justify-content: center;
        background-color: $tertiary-background;
        box-shadow: $shadow-medium;
    }
}