@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;
@use "../abstracts/functions" as *;

.site-header{

    &__logo-container{
        @extend %position-relative-z;
        @include flex-center;
        box-shadow: $shadow-light;
    }
    
    &__logo{
        height: rem(36);
        padding: rem(14) 0 rem(13) 0;
    }

    &__location-container{
        height: 50px;
        @include flex-row(17px);
        align-items: center;
        justify-content: center;
        background-color: $tertiary-background;
        box-shadow: $shadow-medium;
    }

    &__icon{
        @extend .paragraph--gray;
    }

    &__location{
        @include paragraph-medium-gray;
    }
}