@use "../abstracts/variables" as *;

.site-header{

    &__logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 1;
    }
    
    &__logo{
        height: 36px;
        padding: 14px 0 13px 0;
    }

    &__location-container{
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 17px;
        align-items: center;
        justify-content: center;
        background-color: $tertiary-background;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}