@use "../abstracts/variables" as *;

.site-header{
    width: 100%;
    display: flex;
    flex-direction: column;

    &__logo-container{
        position: relative;
        width: 100%;
        height: 63px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__logo{
        width: 197px;
        height: 36px;
    }

    &__location-container{
        width: 375px;
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 17px;
        justify-content: center;
        align-items: center;
        color: $color-dark-gray;
        background-color: $tertiary-background;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}