@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../abstracts/placeholders" as *;

.loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-content: center;
  gap: 12px;
  background: $color-dark-gray;
  opacity: 0.95;
  animation: loader-out 0.4s ease forwards;
  animation-delay: 2s;

  &__spinner-icon {
    font-size: 56px;
    color: $color-white;
    justify-self: center;
    animation: spin-icon 1.5s infinite;
  }

  &__text {
    @extend %reset-margin;
    color: $color-white;
    font-family: "Shrikhand", sans-serif;
    font-size: 3rem;
    opacity: 0.75;
    text-align: center;
  }

  &__dots {
    display: inline-block;
    gap: 2px;

    span{
      display: inline-block;
      animation: bounce 1.4s infinite both;
    }

    span:nth-child(1) { animation-delay: 0s; }
    span:nth-child(2) { animation-delay: 0.1s; }
    span:nth-child(3) { animation-delay: 0.2s; }
  }
}

@keyframes spin-icon {
  0% { transform: rotate(0deg); }
  70% { transform: rotate(180deg); }
  100% { transform: rotate(180deg); }
}

@keyframes loader-out {
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
    pointer-events: none;
  }
}

/* Accessibilité : si l’utilisateur préfère réduire les animations */
@media (prefers-reduced-motion: reduce) {
  .loader {
    animation: none;
    display: none; // ou tu peux le laisser fixe sans spinner
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
}