.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 29px;
    padding: 39px 0 57px 0;

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title{
        margin: 0;
    }

    &__text{
        margin: 0;
    }

    &__button{
        width: 218px;
    }
}