@use "../abstracts/variables" as *;

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 29px;
    padding: 39px 0 57px 0;

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title{
        margin: 0;
    }

    &__text{
        margin: 0;
    }

    &__button{
        width: 218px;
    }
}

.steps{
    padding: 48px 20px 68px 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: $secondary-background;

    &__list{
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    &__title{
        margin: 0;
    }
}

