@use "../abstracts/variables" as *;

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 29px;
    padding: 2.4375rem 0 3.5625rem 0;

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title{
        margin: 0;
    }

    &__text{
        margin: 0;
    }

    &__button{
        width: 100%;
        max-width: 218px;
    }
}

.steps{
    padding: 3rem 1.25rem 4.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: $secondary-background;

    &__list{
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    &__title{
        margin: 0;
    }
}

.restaurants{
    padding: 3.375rem 1.125rem 4.125rem 1.0625rem;

    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}