@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;

.hero{
    @include flex-column-center;
    text-align: center;
    gap: 29px;
    padding: 2.4375rem 0 3.5625rem 0;

    &__wrapper{
        @include flex-column(10px);
    }

    &__title{
        margin: 0;
    }

    &__text{
        margin: 0;
    }

    &__button{
        width: 100%;
        max-width: 218px;
    }
}

.steps{
    padding: 3rem 1.25rem 4.25rem 1.25rem;
    @include flex-column(26px);
    background-color: $secondary-background;

    &__list{
        @include flex-column(26px);
    }

    &__title{
        @extend %reset-margin;
    }
}

.restaurants{
    padding: 3.375rem 1.125rem 4.125rem 1.0625rem;

    &__list{
        width: 100%;
        @include flex-column(18px);
    }
}