@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: $color-white;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 16px;

    @include gradient($primary-color, $secondary-color, 0deg);

    &:hover {
        transform: scale(1.03);
        @include lighten-gradient($primary-color, $secondary-color, 0deg, 5%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

    }

    &:active {
        transform: scale(0.97);
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
        outline: none;
    }

    &:focus {
        outline: none;
    }
}