@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn{
    min-height: 3.125rem;
    font-family: "Roboto", sans-serif;
    border-radius: $radius-button;
    border: none;
    outline: none;
    color: $color-white;
    box-shadow: $shadow-button;

    &--primary{
        @include gradient($primary-color, $secondary-color, 0deg);
    }
}