@use "../abstracts/variables" as *;

.btn{
    min-height: 3.125rem;
    font-family: "Roboto", sans-serif;
    border-radius: 25px;
    border: none;
    outline: none;
    color: $color-white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);


    &--primary{
        background: linear-gradient(0deg, $primary-color, $secondary-color);
    }
}