@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;
@use "../abstracts/functions" as *;

.steps{
    &__card{
        position: relative;
        width: 100%;
        max-width: 335px;
        @include flex-row-center;
        min-height: 4.5625rem;
    }

    &__number{
        @extend %position-relative-z;
        @include flex-center;
        width: rem(24);
        height: 1.5rem;
        border-radius: $radius-medium;
        background-color: $primary-color;
        @extend .paragraph;
        @extend .paragraph--small;
        @extend .paragraph--white;
    }

    &__icon{
        @extend .paragraph--lightgray;
    }

    &__label{
        @extend .paragraph;
        @extend .paragraph--medium;
    }

    &__card-wrapper{
        @include flex-row-center;
        gap: $gap-4xl;
        border-radius: $radius-xl;
        background-color: $primary-background;
        box-shadow: $shadow-card;
        position: absolute;
        left: $position-wrapper-left;
        right: 0;
        height: 100%;
        padding-left: 2.1875rem;
    }
}

.restaurants{
    &__card{
        width: 100%;
        min-width: 340px;
        max-width: 340px;
        min-height: 15.6875rem;
        border-radius: $radius-large;
        background-color: $secondary-background;
    }

    &__image-container{
        overflow: hidden;
        position: relative;
        height: calc(#{rem(231)} - #{rem(57)});
        border-top-left-radius: $radius-large;
        border-top-right-radius: $radius-large;
    }

    &__image{
        position: absolute;
        width: 100%;
        object-fit: cover;
    }

    &__badge{
        @extend %position-absolute-z;
        top : $position-badge-top;
        right: $position-badge-right;
        width: auto;
        min-width: rem(80);
        min-height: 1.8125rem;
        border-radius: $radius-small;
        box-shadow: $shadow-light;
        background-color: $tertiary-color;
        color: $tertiary-font-color;
        @include flex-center;
        @extend %reset-margin;
    }

    &__card-content{
        @include flex-row-center;
        justify-content: space-between;
        padding: $padding-card-content;
    }

    &__card-info{
        @include flex-column($gap-xs);
    }

    &__card-title{
        @extend .title;
        @extend .title--small-bold;
        @extend .title--roboto;
    }

    &__card-text{
        @extend .paragraph;
        @extend .paragraph--large;
    }

    &__like-icon{
        font-size: 22px;
    }
}