@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;
@use "../abstracts/functions" as *;

.steps{
    &__card{
        position: relative;
        width: 100%;
        @include flex-row-center;
        min-height: 4.5625rem;
    }

    &__number{
        @extend %position-relative-z;
        @include flex-center;
        width: 24px;
        height: 1.5rem;
        border-radius: $radius-medium;
        background-color: $primary-color;
        @extend .paragraph;
        @extend .paragraph--small;
        @extend .paragraph--white;
    }

    &__icon{
        @extend .paragraph--lightgray;
    }

    &__label{
        @extend .paragraph;
        @extend .paragraph--medium;
    }

    &__card-wrapper{
        @include flex-row-center;
        gap: 20px;
        border-radius: $radius-xl;
        background-color: $primary-background;
        box-shadow: $shadow-card;
        position: absolute;
        left: 12px;
        right: 0;
        height: 100%;
        padding-left: 2.1875rem;
    }
}

.restaurants{
    &__card{
        min-height: 15.6875rem;
        border-radius: $radius-large;
        background-color: $secondary-background;
    }

    &__image-container{
        overflow: hidden;
        position: relative;
        height: calc(#{rem(231)} - #{rem(57)});
        border-top-left-radius: $radius-large;
        border-top-right-radius: $radius-large;
    }

    &__image{
        position: absolute;
        top: -57px;
        left: -3px;
        width: 100%;
        object-fit: cover;
        height: 231px;
    }

    &__badge{
        @extend %position-absolute-z;
        top : 13px;
        right: 12px;
        width: auto;
        min-width: 80px;
        min-height: 1.8125rem;
        border-radius: $radius-small;
        box-shadow: $shadow-light;
        background-color: $tertiary-color;
        color: $tertiary-font-color;
        @include flex-center;
        @extend %reset-margin;
    }

    &__card-content{
        @include flex-row-center;
        justify-content: space-between;
        padding: 1rem 1.5625rem 0.75rem 0.8125rem;
    }

    &__card-info{
        @include flex-column(5px);
    }

    &__card-title{
        @extend .title;
        @extend .title--small-bold;
    }

    &__card-text{
        @extend .paragraph;
        @extend .paragraph--large;
    }

    &__like-icon{
        font-size: 22px;
    }
}