@use "../abstracts/variables" as *;

.steps{
    &__card{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 73px;
    }

    &__number{
        position: relative;
        z-index: 1;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__card-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
        background-color: $primary-background;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: absolute;
        left: 12px;
        right: 0;
        height: 100%;
        padding-left: 35px;
    }
}