@use "../abstracts/variables" as *;

.steps__card{
    width: 100%;
    height: 72.38px;

    &__number{
        position: relative;
    }

    &__icon{
        position: relative;
    }

    &__label{
        position: relative;
    }
}
