@use "../base/typography";
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__title{
        @extend .title;
        width: 100%;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        text-align: center;
        padding: 0.5rem;
    }

    &__location-container{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 17px;
        justify-content: center;
        align-items: center;
        color: rgb(53, 53, 53);
        background-color: rgb(234, 234, 234);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        @extend .text16500;
    }
}