@use "../abstracts/variables" as *;

body{
    margin: 0;
    display: flex;
    justify-content: center;
}

.maincontainer{
    width: 100%;
    max-width: 375px;
    background-color: $primary-background;
}