@use "../abstracts/variables" as *;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincontainer{
    width: 375px;
    background-color: $primary-background;
    overflow-x: hidden;
}