@use "../abstracts/variables" as *;

body{
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: enable-scroll 0.1s ease forwards;
    animation-delay: 2.4s;
}

@keyframes enable-scroll {
    to {
        overflow: visible;
    }
}

.maincontainer{
    width: 100%;
    background-color: $primary-background;
}

.maincontainer-restaurants{
    width: 100%;
    background-color: $secondary-background;
}