@use "../abstracts/variables" as *;

.main-title{
    &--roboto{
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-wrap: pretty;
    }
}

.paragraph{
    font-family: "Roboto", sans-serif;

    &--header-style{
        font-size: 16px;
        font-weight: 500;
        color: $color-dark-gray;
    }

    &--18300gray{
        font-size: 18px;
        font-weight: 300;
        color: $color-dark-gray;
    }
}