@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/functions" as *;

.title{

    @extend %reset-margin;

    &--roboto{
        font-family: "Roboto", sans-serif;
    }

    &--shrikhand{
        font-family: "Shrikhand", sans-serif;
    }

    &--small{
        font-size: rem(18px);
        font-weight: 400;
    }

    &--medium{
        font-size: rem(24px);
        font-weight: 700;
    }

    &--wrap-pretty{
        text-wrap: pretty;
    }

}

.paragraph{
    font-family: "Roboto", sans-serif;
    @extend %reset-margin;
    &--small{
        font-size: rem(14px);
        font-weight: 500;
    }

    &--medium{
        font-size: rem(16px);
        font-weight: 500;
    }

    &--large{
        font-size: rem(17px);
        font-weight: 300;
    }

    &--xlarge{
        font-size: rem(18px);
        font-weight: 300;
    }

    &--xlarge-bold{
        font-size: rem(18px);
        font-weight: 700;
    }

    &--white{
        color: $color-white;
    }

    &--gray{
        color: $color-dark-gray;
    }

    &--lightgray{
        color: $color-light-gray;
    }
}

.link{
    &--black{
        color: $color-black;
    }

    &--no-decoration{
        text-decoration: none;
    }
}