$color-light-blue: #89C8FA;
$color-blue: #003A68;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-gray: rgb(53, 53, 53);
$color-light-gray: rgb(126, 126, 126);

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$tertiary-font-color: #008766;

$primary-background : rgb(246, 246, 246);
$secondary-background: rgb(255, 255, 255);
$tertiary-background: rgb(234, 234, 234);

$shadow-light: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$shadow-medium: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-button: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadow-card: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

$radius-small: 2px;
$radius-medium: 12px;
$radius-large: 15px;
$radius-xl: 20px;
$radius-button: 25px;
