@use "functions" as *;

$color-light-blue: #89C8FA;
$color-blue: #003A68;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-gray: rgb(53, 53, 53);
$color-light-gray: rgb(126, 126, 126);

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$tertiary-font-color: #008766;

// Backgrounds
$primary-background : rgb(246, 246, 246);
$secondary-background: rgb(255, 255, 255);
$tertiary-background: rgb(234, 234, 234);

// Shadows
$shadow-light: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$shadow-medium: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-button: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadow-card: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

// Radius
$radius-small: 2px;
$radius-medium: 12px;
$radius-large: 15px;
$radius-xl: 20px;
$radius-button: 25px;

// Gaps
$gap-xs: rem(5);
$gap-sm: rem(7);
$gap-md: rem(10);
$gap-lg: rem(11);
$gap-xl: rem(16);
$gap-2xl: rem(17);
$gap-3xl: rem(18);
$gap-4xl: rem(20);
$gap-5xl: rem(26);
$gap-6xl: rem(29);

// Paddings
$padding-logo: rem(14) 0 rem(13) 0;
$padding-hero: 2.4375rem 0 3.5625rem 0;
$padding-steps: 3rem 1.25rem 4.25rem 1.25rem;
$padding-restaurants: 3.375rem 1.125rem 4.125rem 1.0625rem;
$padding-footer: 1.375rem 0 1.375rem 1.5625rem;
$padding-card-content: 1rem 1.5625rem 0.75rem 0.8125rem;

// Positions
$position-badge-top: 13px;
$position-badge-right: 12px;
$position-image-top: -57px;
$position-wrapper-left: 12px;