$color-light-blue: #89C8FA;
$color-blue: #003A68;
$color-white: #FFFFFF;
$color-black: #000000;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$tertiary-font-color: #008766;

$primary-background : rgb(246, 246, 246);